extends workspace-layout

block workspace-content
  // fullCalendar
  link(rel='stylesheet', href='../bower_components/fullcalendar/dist/fullcalendar.min.css')
  link(rel='stylesheet', href='../bower_components/fullcalendar/dist/fullcalendar.print.min.css', media='print')
  script(src='../bower_components/moment/moment.js')

  body.hold-transition.skin-blue.sidebar-mini

    // Content Wrapper. Contains page content
    .content-wrapper
      // Main content
      section.content.vertical-center
        .row
          .box.box-primary.box-centerbox.box-shadow
            .box-header.with-border
              h3.box-title About Us
            .box-body
              form.login-form(id='donate-form', method='POST')
                input(type='hidden', name='_csrf', value=_csrf)
              // /.box-body
          // /.col
        // /.row
      // /.content
    // /.content-wrapper

    script(src='/js/workspace.js')
