extends workspace-layout

block workspace-content
  // fullCalendar
  link(rel='stylesheet', href='../bower_components/fullcalendar/dist/fullcalendar.min.css')
  link(rel='stylesheet', href='../bower_components/fullcalendar/dist/fullcalendar.print.min.css', media='print')
  //script(src='../bower_components/moment/moment.js')

  body.hold-transition.skin-blue.sidebar-mini

    // Content Wrapper. Contains page content
    .content-wrapper
      // Main content
      section.content.vertical-center
        .row.container-fluid
          .box.box-primary.box-centerbox.box-shadow(style='min-width:70%')
            .box-header.with-border
              h3.box-title Donate
            .box-body
              script(src='https://donorbox.org/widget.js', type='text/javascript')
              iframe#dbox-form-embed(src='https://donorbox.org/embed/ilsaran?hide_donation_meter=true', height='685px', width='100%', style='max-width:500px; min-width:310px; max-height:none!important', seamless='seamless', name='donorbox', frameborder='0', scrolling='no')

              // /.box-body
          // /.col
        // /.row
      // /.content
    // /.content-wrapper
