extends workspace-layout

block workspace-content
  // fullCalendar
  link(rel='stylesheet', href='../bower_components/fullcalendar/dist/fullcalendar.min.css')
  link(rel='stylesheet', href='../bower_components/fullcalendar/dist/fullcalendar.print.min.css', media='print')
  script(src='../bower_components/moment/moment.js')
  script(src='../bower_components/fullcalendar/dist/fullcalendar.min.js')

  body.hold-transition.skin-blue.sidebar-mini

    // Content Wrapper. Contains page content
    .content-wrapper
      // Main content
      section.content
        .row
          .col-md-12
            .box.box-primary.box-shadow
              .box-header.with-border(style="justify-content: center;")
                i.fa.fa-laptop
                h3.box-title Class
                
                //.btn.bg-green(style="z-index: 1070; width: 60px;  margin-left: 10px; padding: 3px;") Call
                //.btn.bg-red(style="z-index: 1070; width: 80px;   margin-left: 10px; padding: 3px;") Hang Up

                .box-tools.pull-right
                  button.btn.btn-box-tool(type='button', data-widget='collapse')
                    i.fa.fa-minus
              .box-body.pad
                form
                  ul.class-controls
                    li.dropdown.left-controls
                      a.btn.btn-default.dropdown-toggle(data-toggle='dropdown', aria-expanded='false')
                        span
                        span.selected-active-contact Select contact 
                        b.caret
                      ul#active-contact-list.dropdown-menu                                      
                    li.left-controls
                      #button-join-leave.btn.bg-green(style="z-index: 1070; width: 8em;  margin-left: 1.5em; padding:.3em;") Join the class...
                    li.right-controls
                      .btn.bg-gray(style="z-index: 1070; width: 80px;  margin-right: auto; padding: .3em;") Meter Off
                    li.right-controls
                      div#class-counter 00:00:00
                section.content
                  .row
                    .col-md-3
                      .box-body.video-body
                        #controls
                          #preview
                            #local-media
                            input#button-camera(type="image", src="../images/icons/camon.png" )
                            input#button-michrophone(type="image", src="../images/icons/micon.png" )
                    .col-md-9
                      .box-body.video-body
                        #remote-media
        .row
          .col-md-12
            .box.box-primary.box-shadow
              .box-header.with-border
                i.fa.fa-calendar
                h3.box-title Calendar
                .box-tools.pull-right
                  button.btn.btn-box-tool(type='button', data-widget='collapse')
                    i.fa.fa-minus
              .box-body
                section.content
                  .row
                    .col-md-3
                      .box.box-solid
                        .box-header.with-border
                          h4.box-title Draggable Events
                        .box-body
                          // the events
                          #external-events
                            .external-event.bg-green Lunch
                            .external-event.bg-yellow Go home
                            .external-event.bg-aqua Do homework
                            .external-event.bg-light-blue Work on UI design
                            .external-event.bg-red Sleep tight
                            .checkbox
                              label(for='drop-remove')
                                input#drop-remove(type='checkbox')
                                |                     remove after drop
                        // /.box-body
                      // /. box
                      .box.box-solid
                        .box-header.with-border
                          h3.box-title Create Event
                        .box-body
                          .btn-group(style='width: 100%; margin-bottom: 10px;')
                            // <button type="button" id="color-chooser-btn" class="btn btn-info btn-block dropdown-toggle" data-toggle="dropdown">Color <span class="caret"></span></button>
                            ul#color-chooser.fc-color-picker
                              li
                                a.text-aqua(href='#')
                                  i.fa.fa-square
                              li
                                a.text-blue(href='#')
                                  i.fa.fa-square
                              li
                                a.text-light-blue(href='#')
                                  i.fa.fa-square
                              li
                                a.text-teal(href='#')
                                  i.fa.fa-square
                              li
                                a.text-yellow(href='#')
                                  i.fa.fa-square
                              li
                                a.text-orange(href='#')
                                  i.fa.fa-square
                              li
                                a.text-green(href='#')
                                  i.fa.fa-square
                              li
                                a.text-lime(href='#')
                                  i.fa.fa-square
                              li
                                a.text-red(href='#')
                                  i.fa.fa-square
                              li
                                a.text-purple(href='#')
                                  i.fa.fa-square
                              li
                                a.text-fuchsia(href='#')
                                  i.fa.fa-square
                              li
                                a.text-muted(href='#')
                                  i.fa.fa-square
                              li
                                a.text-navy(href='#')
                                  i.fa.fa-square
                          // /btn-group
                          .input-group
                            input#new-event.form-control(type='text', placeholder='Event Title')
                            .input-group-btn
                              button#add-new-event.btn.btn-primary.btn-flat(type='button') Add
                            // /btn-group
                          // /input-group
                    // /.col
                    .col-md-9
                      .box-body.no-padding
                        // THE CALENDAR
                        #calendar
                      // /.box-body
                    // /.col
                  // /.row
                // /.content
              // /.content-wrapper

          // /.col
        // /.row
      // /.content
    // /.content-wrapper
    script(src='/js/workspace/workspace.js')
    script(src='/js/workspace/twilio.js')
    script(src='/js/main.js')
